<header class="header">
  <div class="header-container container">
    <div class="imagen-header">
      <picture>
        <source srcset="../../assets/img/header.avif" type="image/avif" />
        <source srcset="../../assets/img/header.webp" type="image/webp" />
        <img
          loading="lazy"
          src="../../assets/img/header.png"
          width="500"
          height="300"
          alt="imagen del header"
        />
      </picture>
    </div>
    <div class="texto-header">
      <p class="tag-line-text">Sonido profesional</p>
      <h1 class="nombre-producto degradado-verde">TechPRO</h1>
      <p class="descripcion-producto">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore nulla
        itaque temporibus, nostrum vero eum, sapiente, consequuntur nesciunt
        cumque quos quam corrupti est maxime architecto accusamus. In
        reprehenderit laborum ad.
      </p>
      <p class="precio-producto">Desde<span> $299</span></p>
    </div>
  </div>
</header>
