<section class="container">
  <div class="iconos">
    <div class="icono">
      <img src="../../assets/img/icono-sonido.svg" alt="icono-sonido" />
      <div class="icono-text">
        <h3>Gran sonido</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          culpa voluptate eos eveniet suscipit velit at quos incidunt non
          repudiandae optio obcaecati temporibus est voluptatibus, aliquam
          deleniti exercitationem alias odit.
        </p>
      </div>
    </div>
    <div class="icono">
      <img src="../../assets/img/icono-garantia.svg" alt="icono-sonido" />
      <div class="icono-text">
        <h3>Garantia de por vida</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          culpa voluptate eos eveniet suscipit velit at quos incidunt non
          repudiandae optio obcaecati temporibus est voluptatibus, aliquam
          deleniti exercitationem alias odit.
        </p>
      </div>
    </div>

    <div class="icono">
      <img src="../../assets/img/icono-bateria.svg" alt="icono-sonido" />
      <div class="icono-text">
        <h3>+ 20 horas de bateria</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          culpa voluptate eos eveniet suscipit velit at quos incidunt non
          repudiandae optio obcaecati temporibus est voluptatibus, aliquam
          deleniti exercitationem alias odit.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="sobre-tech">
  <div class="container sobre-tech-grid">
    <div class="sobre-tech-texto">
      <h3>Sobre los<span> TechPRO</span></h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque odit
        pariatur ipsum hic. Optio vel dolore, expedita odit, maiores officia sit
        quisquam incidunt tempore ad error tenetur alias doloribus id.
      </p>
    </div>
  </div>
</section>

<main class="container audifonos">
  <h2 class="text-center degradado-verde">Elige tus TechPRO</h2>
  <div class="listado-modelos">
    <div class="modelo modelo-x">
      <h3>TechPRO X</h3>
      <p class="precio">$299</p>
    </div>
    <div class="modelo modelo-y">
      <h3>TechPRO y</h3>
      <p class="precio">399</p>
    </div>
    <div class="modelo modelo-z">
      <h3>TechPRO z</h3>
      <p class="precio">$499</p>
    </div>
  </div>
</main>

<section class="newsletter">
  <div class="contenido-newsletter container">
    <div class="texto-newsletter">
      <h2>Recibe Actualizaciones</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsa
        illum dolor, velit a necessitatibus tempore earum rem minus nihil illo?
        Ipsum vero totam ea asperiores deserunt quam, est exercitationem.
      </p>
      <form class="formulario" action="">
        <div class="inputs">
          <input type="text" placeholder="Ingresa tu email" />
          <input type="submit" value="inscribirme" />
        </div>
      </form>
    </div>
  </div>
</section>
